name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  App1:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
        
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build ./MultiSiteDeployment.App1/MultiSiteDeployment.App1.csproj --configuration 'Release'
      
    - name: Publish
      run: dotnet publish ./MultiSiteDeployment.App1/MultiSiteDeployment.App1.csproj -c Release -o ./app1folder
      
    - name: Deploy
      uses: Azure/webapps-deploy@v2
      with:
        app-name: multisitedeploymentapp1
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_APP1 }}
        package: ./app1folder
